# Model Validation

In [6]:
import pandas as pd

from sklearn.tree import DecisionTreeRegressor

read_data = pd.read_csv('melb_data.csv')

read_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [8]:

filter_read_data = read_data.dropna(axis=0)

features = ["Rooms","Bedroom2","Bathroom","BuildingArea"]

X = filter_read_data[features]

y= filter_read_data.Price

model = DecisionTreeRegressor()

model.fit(X,y)

DecisionTreeRegressor()

In [10]:
from sklearn.metrics import mean_absolute_error

prediction = model.predict(X)

m_a_e = mean_absolute_error(y, prediction)

print(m_a_e)

219979.86204592854

In [11]:
#The measure we just computed can be called an "in-sample" score.
#We used a single "sample" of houses for both building the model and evaluating it

In [12]:
mean_absolute_error(y, prediction)

219979.86204592854

In [14]:
#Since this pattern was derived from the training data, the model will appear accurate in the training data.

#But if this pattern doesn't hold when the model sees new data, the model would be very inaccurate when used in practice

from sklearn.model_selection import train_test_split

train_X,val_X,train_y,val_y=train_test_split(X,y,random_state=1)

model_new = DecisionTreeRegressor()

model_new.fit(train_X,train_y)

prediction_new=model_new.predict(val_X)

mean_absolute_error(val_y,prediction_new)

377880.01544986083

In [21]:
def get_mae(max_leaf_nodes,train_X,val_X,train_y,val_y):
    model_overcomming_underfitting = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes,random_state=0)
    model_overcomming_underfitting.fit(train_X,train_y)
    predict_val=model_overcomming_underfitting.predict(val_X)
    mae= mean_absolute_error(val_y,predict_val)
    return(mae)

In [22]:
for max_leaf_nodes in [5,50,500,5000]:
    my_mae = get_mae(max_leaf_nodes,train_X,val_X,train_y,val_y)
    print("Max leaf nodes : %d \t\t Mean Absolute Error : %d"%(max_leaf_nodes,my_mae))

Max leaf nodes : 5 		 Mean Absolute Error : 352917
Max leaf nodes : 50 		 Mean Absolute Error : 337927
Max leaf nodes : 500 		 Mean Absolute Error : 370148
Max leaf nodes : 5000 		 Mean Absolute Error : 378860

In [23]:
candidate_max_leaf_nodes = [5, 25, 50, 100, 250, 500]
# Write loop to find the ideal tree size from candidate_max_leaf_nodes
best=float('inf')
a=0
k=0
for max_leaf_nodes in candidate_max_leaf_nodes:
    mae=get_mae(max_leaf_nodes,train_X,val_X,train_y,val_y)
    if(mae<best):
        best = mae
        k=a
    a=a+1
    
    

print(k)
# Store the best value of max_leaf_nodes (it will be either 5, 25, 50, 100, 250 or 500)
best_tree_size = candidate_max_leaf_nodes[k]

2